.App {
  /*background-color: rgba(210, 210, 210, 0.5);*/
  background-color: red;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
}

@media only screen and (max-width: 720px) {
  .App {
    flex-direction: column;
  }
}

/*
@media (min-width: 1500px) and (orientation: landscape) {
  .App {
    flex-direction: row;
  }
}
*/
